.container {
    height: 50vh;
    padding: 10px;
    /* background-color: rgba(255, 0, 0, 0.304); */
}

.introBtn {

    width: 200px;

}

.aboutMe {
    margin-top: 1.3vw;
    display: flex;
    flex-direction: column;

}

.aboutMe span {
    font-size: 2vw;
    font-weight: 600;
    margin: 10px 0;
}

.desc {
    margin: 2rem 0;
    font-size: 1rem;
    letter-spacing: .4px;
    word-spacing: .5px;
    line-height: 1.4rem;
}