.container {
    height: auto;
    padding: 10px;
}

.introBtn {

    width: 200px;

}

.aboutMe {
    margin-top: 1.3vw;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
@media screen and (width<700px) {
    .aboutMe{
        margin-top: 2.3vw;
    }
}
.aboutMe span {
    font-size: 24px;
    font-weight: 400;
    margin: 10px 0;
    line-height: 1.7px;
}
@media screen and (width<700px) {
    .aboutMe span {
        font-size: 24px;
    }
}
.desc {
    margin: 2rem 0;
    font-size: 1rem;
    letter-spacing: .4px;
    word-spacing: .5px;
    line-height: 1.4rem;
}