.btnGroup {
    /* margin-top: 200px; */
    display: flex;
    flex-wrap: wrap;
    padding: 10px 15px;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    margin: 100px auto 0 auto;
    /* height: 550px; */
    /* background-color: #D0DAE0; */
    background: radial-gradient(#D0DAE0 0%, #8A2EFF);
    background-repeat: no-repeat;
    border-radius: 4PX;
    box-shadow: 2PX 2PX 5PX 4PX #8A2EFF,
        -2PX -2PX 5PX 4PX #8A2EFF;

}

@media screen and (max-width:600px) {
    .btnGroup {
        width: 100%;
        padding: 5px;
    }

}