.container {
    height: 70vh;
    padding: 10px;
}

.introBtn {

    width: fit-content;

}

.aboutMe {
    margin-top: 20px;
    display: flex;
    flex-direction: column;

}

.aboutMe span {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0;
}

.formBox {
    /* margin: 2vw 0; */
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* padding: 1vw; */
    /* font-size: 1vw; */
    /* letter-spacing: .6px;
    word-spacing: .3px; */
}

.formBox .formDiv {
    display: flex;
    flex-direction: column;
    gap: 4px;
    /* margin: 1vh 0; */
}

.formDiv .inputField {
    /* padding: 5px 0 3px 5px; */
    margin-top: 7px;
    caret-color: orange;
    border: none;
    outline: none;
    background-color: transparent;
}

.formDiv .inputField {
    opacity: 0.9;
    font-size: 18px;
    line-height: 144%;
    background-color: transparent;
}




.formDiv textarea:focus-visible {
    border: 1px solid white;
    padding: 10px;
    border-radius: 6px;
}

.errorMsg {
    font-size: 14px;
    line-height: 150%;
    color: red;
    opacity: 0.9;
}

.formDiv label {
    font-size: 16px;
    opacity: 0.8;
}

.formDiv label::after {
    content: "*";
    color: red;
    padding-left: 4px;
}

.dashed {
    height: 2px;
    background-color: #eee;
    margin: 2vw 0;
}

.btn {
    width: 50%;
    margin: 0 auto;
}