.container {
    height: 70vh;
    padding: 10px;
}

.introBtn {

    width: 200px;

}

.aboutMe {
margin-top: 1.3vw;
    display: flex;
    flex-direction: column;

}

.aboutMe span {
    font-size: 2vw;
    font-weight: 600;
    margin: 10px 0;
}

.desc {
    
    margin: 2vw 0;
    display: flex;
    flex-direction: column;
    padding: 1vw;
    /* font-size: 1vw; */
    /* letter-spacing: .6px;
    word-spacing: .3px; */
}

.desc .formDiv{
    display: flex;
    flex-direction: column;
    margin: 1vh 0;
}
.formDiv input{
    padding: 5px 0 3px 5px;
    margin-top: 7px;
    caret-color: orange;
    border: none;
    outline: none;
    background-color: transparent;
}
.formDiv label::after{
    content: "*";
    color: red;
    padding-left:4px ;
}

.dashed{
    height: 2px;
    background-color: #eee;
    margin: 2vw 0;
}
.btn{
    width:50%;
    margin: 0 auto;
}