/* applied to Layout component as it is of wrapper */

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Poppins:wght@300;400;500;600;700&display=swap');

/* <!-- Boxicons CSS -->
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat";
  color: white;
  font-family: 'Poopins', sans-serif;
}

html,
body {
  min-height: 100%;
}

body {
  /* background: radial-gradient(at top left, rgba(146,43,225,1) 0%, rgba(43,9,107,1) 100%); */
  /* background-color: #D0DAE0; */
  background-color: #242B2E;
  /* background: radial-gradient(at top left,#FCFCFB   0%, #8A2EFF 100%); */
  background-repeat: no-repeat;
  font-size: 1em;
  height: 100vh;
  width: 100vw;
}

p {
  margin: 16px auto;
  line-height: 1.5em;
}

/* layout & nav */
.layout {
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* margin-top: 120px; */
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #000;
  box-shadow: 0 2px 5px #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2vw 5vw;
}

nav .links {
  display: inline-block;
  text-align: right;
}

nav a {
  display: inline-block;
  margin-left: 1vw;
  font-weight: 400;
  
  padding-left: 5px;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
}

nav a:hover {
  border-color: white;
}

.content {
  height: 80%;
  margin-top: 8vw;
  /* background-color: aqua; */
}

.footer p {
  text-align: center;
  color: #bbb;
  margin: 2.5vw auto;
}