/* applied to Layout component as it is of wrapper */

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Poppins:wght@300;400;500;600;700&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap'); */
/* <!-- Boxicons CSS -->
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat";
  color: white;
  /* font-family: 'Poopins', sans-serif; */
  font-family: "Titillium Web", sans-serif;
}

html,
body {
  min-height: 100%;
}

body {
  background-repeat: no-repeat;
  font-size: 1em;
}

p {
  /* TODO remove */
  /* margin: 16px auto;
  line-height: 1.5em; */
}

.layout {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1536px;
  margin: auto;
  gap: 20px;
}


.content {
  margin-top: 160px;
  /* height: 80%; */
  padding-left: 20px;
  padding-right: 20px;
}

.footer p {
  text-align: center;
  color: #bbb;
  margin: 2.5vw auto;
}

.light {
  background-color: hsl(250, 93%, 20%);
  /* background-color: #f7f7f7; */

  .content {
    color: #000 !important;
  }
}

.dark {
  background-color: #171717;
}

@media screen and (max-width:1024px) {
  .content {
    padding: 0px;
    margin-top: 120px;
  }
}