.main_container {
  display: flex;
  align-items: flex-start;

  & .profile_box {
    min-width: 400px !important;
  }
}

.completePage {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.content_box {
  width: calc(100% - 420px);
  padding: 0px 0px;
  margin: auto;

}

@media screen and (max-width:1024px) {
  .main_container {
    flex-direction: column;

    & .profile_box {
      width: 100%;
      max-width: 400px;
      height: 500px;
      display: flex;
      margin-left: 20px;
    }
  }
}

@media screen and (width<1025px) {
  .content_box {
    width: calc(100% - 48px);
    margin-top: 20px;
  }
}

.content_box h2 {
  font-size: clamp(16px, 4vw, 10vw);
}

.content_box h3 {
  font-size: clamp(14px, 3vw, 10vw);
  font-weight: 400;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 16px;
  border-radius: 10px;
  margin-top: 1.2vw;
  font-weight: 500;
}

@media screen and (max-width:640px) {
  .profile_box {
    height: fit-content !important;
  }

  .main_container {
    width: 100%;
    margin: auto;

    & .profile_box {
      max-width: 320px !important;
      width: 100%;
      margin: 0;
    }
  }

  .content_box {
    width: calc(100% - 20px);
  }
}