.header {
  padding: 0 20px;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
  grid-gap: 3vw;
  align-items: center;
}

.header h2 {
  font-size: 4vw;
}

.header h3 {
  font-size: 3vw;
  font-weight: 400;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  /* background: #D42990; */
  padding: 10px 16px;
  border-radius: 10px;
  margin-top: 1.2vw;
  font-weight: 500;
}

.profile {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  position: fixed;
  top: 15%;
  left: 2%;
  width: 23%;

  height: 70%;
}

@media screen and (max-width:700px) {
  .profile{
      display: none;
  }
  
}

.completePage {
  /* height: auto; */
  /* background-color: #D42990; */
}