.container {
    height: auto;
    padding: 0px 10px 10px 10px;
    /* margin-bottom: 3vw; */
}

@media screen and (width< 700px) {
    .container {
        margin-top: 64px;
    }
}

.introBtn {

    width: fit-content;

}

.introBtn span {
    margin-left: 3px;
}

.heading {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: 2rem 0;
}

.heading .first,
.heading .second {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: .25px;
}

.heading .third {
    margin-top: 16px;
    font-size: 20px;
}

.number {
    display: flex;
    align-items: center;
    gap: 48px;
}

@media screen and (max-width:767px) {
    .number {
        gap: 32px;
    }
}

.number .one,
.two {
    display: flex;
    flex-direction: column;

}

.one .twoPLus,
.two .twoPLus {
    margin: 5px 0;
    color: aqua;
    /* font-size: clamp(16px, 1.6vw, 32px) */
}

.twoPLus {
    font-weight: 600;
    letter-spacing: 0.5px;
    font-style: oblique;
}

.common {
    /* font-size: clamp(12px, 1vw, 26px); */
    letter-spacing: 0.6px;
}

.one,
.two {
    font-size: 16px;
}

.number .three {
    background-color: gray;
    display: flex;
    justify-content: end;
    align-items: center;
}