.container {
    height: fit-content;
    padding: 10px;
    margin-top: 2vw;
}

.introBtn {

    width: 200px;

}

.aboutMe {
    margin-top: 1.3vw;
    display: flex;
    flex-direction: column;

}

.aboutMe span {
    font-size: 2vw;
    font-weight: 600;
    margin: 10px 0;
}

.cardContainer {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    /* background: red; */
}
.cardHeading{
    display: flex;
    align-items: center; 
}

.cardHeading span {
    margin: 3px ;
}
.cardHeading:hover span ,
.cardHeading:hover svg{
    color: aqua;
    fill:aqua;
    transition: 0.3s;
}
.cardAll {
    display: flex;
    
    /* 
    width:100%;// must to add while using the grid
    display: grid;
    grid-auto-flow: column; */

    justify-content: start;
    flex-wrap: wrap;
    gap: 3rem;
    margin: 20px 0;
}

.card {

    /* height: 144px;
    width: 96px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    /* background-color: #eee; */
    height: 144px;
    /* width: 96px; */
    min-width:100px;
    border-radius: 10px;
    border: 1px solid #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    transition: 0.3s;
    box-shadow: 1px 1px 10px 1px #3e3e, -1px -1px 10px 1px #3e3e;
}