.profile_container {
    position: fixed;
    display: flex;
    min-width: 360px !important;
    flex-direction: column;
    padding: 24px 20px;
    align-items: center;
    gap: 32px;
    border-radius: 8px;
    box-shadow:
        rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
        rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
    transition: transform 0.4s ease-in;
    will-change: transform;
}

.profile_container:hover {
    transform: scale(1.02) rotateZ(-0.9deg);
}

.mid_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading .name {
    color: aqua;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    line-height: 133%;
}

.heading .jobDesc {
    font-weight: 500;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}

.jobDesc span {
    font-size: clamp(14px, 1vw, 2rem, );
}

.imgBox {
    height: 150px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 2px 2px 10px #000;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

    /* background-color: #eee; */
    & img {
        object-fit: cover;
        height: 100%;
        aspect-ratio: 1/1;
        border-radius: inherit;
        scale: 2.2;
        object-position: center;
    }

}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.contact span {
    font-size: 16px;
    font-weight: 400;
    /* margin: 3px 0; */
}

.socialMedia {
    width: 100%;
    /* margin: 24px 0; */
    display: flex;
    justify-content: space-between;
}

.socialMedia span {
    display: flex;
    height: 36px;
    aspect-ratio: 1 / 1;
    justify-content: center;
    align-items: center;
    border: 1px solid #fffdff;
    border-radius: 50%;
}

.hireMe_btn {
    cursor: pointer;
    background-color: rgb(0, 255, 255, 1);
    width: 100%;
    padding: 10px 0;
    color: #1e1c1cf0;
    font-weight: 700;
    border: none;
    font-size: 22px;
    line-height: 150%;
    height: 40px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hireMe_btn:hover {
    background-color: rgb(0, 255, 255, 0.9);
    opacity: 1;
}

.facebook:hover,
.whatsApp:hover,
.email:hover,
.linkdin:hover,
.github:hover {
    border-color: aqua;
    transition: .3s;
    cursor: pointer;
}

.facebook svg,
.whatsApp svg,
.email svg,
.linkdin svg,
.github svg {
    fill: #fff
}

.facebook:hover svg,
.whatsApp:hover svg,
.linkdin:hover svg,
.email:hover svg,
.github:hover svg {
    fill: aqua;
    transition: .3s;
}

@media screen and (max-width:1024px) {

    .profile_container {
        padding: 28px;
        min-width: 380px;
        position: unset;
        width: 100%;
        min-width: 200px !important;
        margin: 20px;
    }

    .hireMe_btn {
        font-size: 24px;
        height: 44px;
    }
}

@media screen and (max-width:480px) {

    .profile_container {
        padding: 22px 18px;
        width: 340px !important;
        position: unset;
        /* width: 100%; */
        /* margin: 20px; */
    }

    .hireMe_btn {
        font-size: 24px;
        height: 44px;
    }

    .imgBox {
        height: 100px;
    }

    .heading .name {
        color: aqua;
        font-size: 24px;
        font-weight: 500;
        font-style: normal;
        line-height: 150%;
    }

    .mid_wrapper {
        gap: 18px;
    }
}